*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background: url('/StopWatch/timer.jpg') no-repeat center center/ cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.container{
    background-color: #fff;
    height: 40vh;
    width: 30vw;
    margin-left: 15rem;
    border-radius: 1.5rem;
    padding: 20px 30px;
    text-align: center;
}

.timer{
    font-size: 7rem;
}

.buttons{
    
    margin: 3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.btn{
    font-size: 3rem;
    padding: 6px 12px;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#startstopbtn{
    background-color: rgb(25, 218, 25);
}    

#resetbtn{
    background-color: rgb(236, 22, 22);
    
}
